@import "tailwindcss";

#root {
    background-color: #1F1F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: var(--default-font-family);
    overflow: hidden;
}

@theme{
    --default-font-family: 'Nunito Sans', sans-serif;
    --color-primary: #005CFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
}